<div class="container success flex col">
	<h1>Counter for {{username}}</h1>

	<div><b>{{username}} has been greeted {{count}} time{{plural}}</b></div>
	{{#if eng_count}}<div>{{eng_count}} time{{eng_plural}} in English</div>{{/if}}
	{{#if afr_count}}<div>{{afr_count}} time{{afr_plural}} in Afrikaans</div>{{/if}}
	{{#if xho_count}}<div>{{xho_count}} time{{xho_plural}} in isiXhosa</div>{{/if}}
</div>